<template>
  <div class="message">
    <span style="color: red;">
      {{ author }}: 
    </span>
    <span>
      {{ text }}
    </span>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator"

@Component({ name: "ChatMessage" })
class ChatMessage extends Vue {
  @Prop({ default: "Some Author" }) author: string
  @Prop({ default: "Some Unknown Text" }) text: string
}
export default ChatMessage
</script>
