<template>
  <div class="chat">
    <div v-bar class="messages ma-0 pa-2">
      <div>
        <div class="welcome">
          {{ welcomeMessage }}
        </div>
        <ChatMessage
          v-for="(message, index) in messages"
          :key="index"
          :author="message.username"
          :text="message.text"
        />
      </div>
    </div>
    <div class="form">
      <VTextField
        v-model="message"
        dark
        class="ma-0 pa-2"
        label="Message"
        @keyup.enter.native="onMessageSubmit"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import { State } from "vuex-class"
import ChatMessage from "./ChatMessage.vue"

@Component({ name: "Chat", components: { ChatMessage } })
class Chat extends Vue {
  welcomeMessage: string = "Welcome to the chat room!"
  message: string = ""
  @State messages

  onMessageSubmit() {
    if (this.message.length) {
      this.$socket.emit("message", { text: this.message })
      this.message = ""
    }
  }
}
export default Chat
</script>

<style>
.chat {
  height: 100%;
}
.messages {
  height: calc(100% - 60px);
  overflow: hidden scroll;
  position: absolute !important;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.form {
  height: 60px;
  position: absolute;
  top: calc(100% - 60px);
  left: 0px;
  right: 0px;
  bottom: 0px;
}
</style>
