<template>
  <div class="controls grey darken-3">
    <VBtn flat icon class="mr-0">
      <VIcon v-if="!playing" @click="togglePlaying">
        play_arrow
      </VIcon>
      <VIcon v-else @click="togglePlaying">
        pause
      </VIcon>
    </VBtn>
    <VBtn flat icon class="ml-0">
      <VIcon v-if="muted || volume == 0" @click="toggleMute">
        volume_off
      </VIcon>
      <VIcon v-else @click="toggleMute">
        volume_up
      </VIcon>
    </VBtn>
    <VSlider
      :value="volume"
      height="1"
      style="min-width: 80px; max-width: 80px; width: 80px;"
      @input="setVolume($event)"
    />
    <VBtn flat icon @click="playlistDialog = !playlistDialog">
      <VIcon>list</VIcon>
    </VBtn>
    <span class="ml-3" style="white-space: nowrap; text-overflow: ellipsis;">
      {{ title }}
    </span>
    <span v-if="video" class="ml-3">
      [{{ video.minutes }}:<span v-if="video.seconds < 10">
        {{ `0${video.seconds}` }}
      </span><span v-else>
        {{ video.seconds }}
      </span>]
    </span>
    <span class="ml-3">
      {{ currentQuality }}
    </span>
    <VSpacer />
    <VBtn outline @click="addDialog = true">
      add
    </VBtn>

    <VDialog
      v-model="addDialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <VCard>
        <VToolbar dark color="primary">
          <VBtn icon dark @click.native="addDialog = false">
            <VIcon>close</VIcon>
          </VBtn>
          <VToolbarTitle>Add Video</VToolbarTitle>
          <VSpacer />
          <VToolbarItems>
            <VBtn :disabled="!urlValid" dark flat @click.native="addVideo">
              Add
            </VBtn>
          </VToolbarItems>
        </VToolbar>
        <VForm v-model="urlValid" class="pa-3" @submit.prevent="addVideo">
          <VTextField
            v-model="url"
            :rules="urlRules"
            placeholder="https://youtube.com/watch?v=dQw4w9WgXcQ"
            label="URL"
            required
            @keyup.enter.native="addVideo"
          />
        </VForm>
      </VCard>
    </VDialog>

    <VDialog v-model="playlistDialog" scrollable max-width="300px">
      <VCard>
        <VCardTitle>Playlist</VCardTitle>
        <VDivider />
        <VCardText style="height: 300px;">
          <ul>
            <li v-for="video in playlist" :key="video.id">
              {{ video.title }} [{{ video.minutes }}:<span
                v-if="video.seconds < 10"
              >
                {{ `0${video.seconds}` }}
              </span><span v-else>
                {{ video.seconds }}
              </span>]
            </li>
          </ul>
        </VCardText>
        <VDivider />
        <VCardActions>
          <VBtn flat @click="playlistDialog = false">
            Close
          </VBtn>
        </VCardActions>
      </VCard>
    </VDialog>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import { namespace } from "vuex-class"
import Api from "~/helpers/Api"

const room = namespace("room")

@Component({ name: "Controls" })
class Controls extends Vue {
  // title: string = 'sf'
  playlistDialog: boolean = false
  addDialog: boolean = false
  url: string = ""
  urlValid: boolean = false
  urlRules = [v => !!v || "URL is required"]
  @room.State currentRoom
  @room.State muted
  @room.State volume
  @room.State playing
  @room.State currentQuality
  @room.Mutation togglePlaying
  @room.Mutation toggleMute
  @room.Mutation setVolume
  @room.Getter playlist
  @room.Getter("currentVideo") video

  async addVideo() {
    try {
      Api.addVideoByUrl(this.url, this.currentRoom)
      this.url = ""
      this.urlValid = true
      this.addDialog = false
    } catch (e) {
      // this.errors.push({ text: e, visible: true });
      // setTimeout(() => this.errors.shift(), 2000);
    }
  }

  get title() {
    return this.video && this.video.title ? this.video.title : ""
  }
}
export default Controls
</script>

<style>
.controls {
  /* flex: 1 1 auto; */
  align-items: center;
  display: flex;
  height: 50px;
  position: relative;
}
</style>
