<template>
  <div class="content">
    <div class="left">
      <template v-if="video">
        <RoomVideo />
      </template>
      <template v-else>
        <EmptyPlaylist />
      </template>
    </div>
    <RoomRightSide />
  </div>
</template>

<script lang="ts">
import RoomRightSide from "~/components/room/RightSide.vue"
import EmptyPlaylist from "./EmptyPlaylist.vue"
import RoomVideo from "./Video.vue"
import { Component, Vue } from "nuxt-property-decorator"
import { Getter } from "vuex-class"

@Component({
  components: { RoomRightSide, EmptyPlaylist, RoomVideo },
  name: "Content"
})
class Content extends Vue {
  @Getter("room/currentVideo") video
}
export default Content
</script>

<style>
.content {
  height: calc(100% - 50px);
  display: flex;
}

.left {
  height: 100%;
  flex: 1;
  overflow: hidden;
  position: relative;
}
</style>
