<template>
  <div class="emptyPlaylist">
    <div class="kaomoji display-3">
      ¯\_(ツ)_/¯
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"

@Component({ name: "EmptyPlaylist" })
class EmptyPlaylist extends Vue {}
export default EmptyPlaylist
</script>

<style>
.emptyPlaylist {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.kaomoji {
  display: flex;
  align-items: center;
}
</style>
