<template>
  <div class="right">
    <VTabs
      v-model="active"
      dark
      slider-color="grey"
      class="tabs"
      fixed-tabs
      height="48"
    >
      <VTab :key="tabs.chat" ripple class="tabHeader">
        Chat
      </VTab>
      <VTab :key="tabs.users" ripple class="tabHeader">
        Users
      </VTab>
      <VTabItem :key="tabs.chat" class="tabItem">
        <RoomChat />
      </VTabItem>
      <VTabItem :key="tabs.users" class="tabItem">
        <RoomUserList />
      </VTabItem>
    </VTabs>
  </div>
</template>

<script lang="ts">
import RoomChat from "./Chat.vue"
import RoomUserList from "./UserList.vue"
import { Component, Vue } from "nuxt-property-decorator"

@Component({ components: { RoomChat, RoomUserList }, name: "RightSide" })
class RightSide extends Vue {
  tabs: { chat: number; users: number } = {
    chat: 0,
    users: 1
  }
  active: number = this.tabs.chat
}
export default RightSide
</script>

<style>
.right,
.tabs,
.tabItem,
.v-window__container {
  height: 100%;
}

.right {
  width: 340px;
}

.v-window {
  height: calc(100% - 48px);
}
</style>
