<template>
  <div v-bar class="userList ma-0 pa-2">
    <div>
      <UserItem v-for="(name, index) in userNames" :key="index" :name="name" />
    </div>
  </div>
</template>

<script lang="ts">
import UserItem from "./UserItem.vue"
import { Component, Vue } from "nuxt-property-decorator"
import { State } from "vuex-class"

@Component({ components: { UserItem }, name: "UserList" })
class UserList extends Vue {
  @State userNames
}
export default UserList
</script>

<style>
.userList {
  height: 100%;
  overflow: hidden scroll;
  position: absolute !important;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
</style>
