<template>
  <VListTile avatar>
    <VListTileAvatar> <img :src="avatar"> </VListTileAvatar>
    <VListTileContent>
      <VListTileTitle>{{ name }}</VListTileTitle>
    </VListTileContent>
  </VListTile>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "nuxt-property-decorator"

@Component({ name: "UserItem" })
class UserItem extends Vue {
  @Prop({ default: "https://via.placeholder.com/40" }) avatar: string
  @Prop({ default: "" }) name: string
}
export default UserItem
</script>
