<template>
  <div class="video">
    <ReactiveYoutube
      ref="youtube"
      :position="$store.state.room.position"
      :playing="$store.state.room.playing"
      :muted="$store.state.room.muted"
      :volume="+$store.state.room.volume"
      :video="video"
      @paused="pause"
      @playing="play"
    />
  </div>
</template>

<script lang="ts">
import ReactiveYoutube from "~/components/ReactiveYoutube.vue"
import { Component, Vue } from "nuxt-property-decorator"
import { Mutation, Getter } from "vuex-class"

@Component({ name: "Video", components: { ReactiveYoutube } })
class Video extends Vue {
  @Getter("room/currentVideo") video
  @Mutation("room/play") play
  @Mutation("room/pause") pause
}
export default Video
</script>

<style>
.video {
  width: 100%;
  height: 100%;
}
</style>
