<template>
  <Youtube
    ref="youtube"
    :player-vars="vars"
    :video-id="videoId"
    width="100%"
    height="100%"
    @paused="$emit('paused')"
    @playing="$emit('playing')"
    @ready="ready"
  />
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "nuxt-property-decorator"
import { setInterval } from "timers"
import { namespace } from "vuex-class"

const room = namespace("room")

@Component({ name: "ReactiveYoutube" })
class ReactiveYoutube extends Vue {
  @room.Mutation setCurrentQuality
  @room.State currentQuality

  @Prop({ default: 0 }) position: number
  @Prop({ default: false }) playing: boolean
  @Prop({ default: 10 }) volume: number
  @Prop({ default: false }) muted: boolean
  // TODO: video is not a string
  @Prop({ default: "" }) video: string
  @Prop({
    default: () => {
      return {
        autoplay: 0,
        controls: 0
      }
    }
  })
  playerVars: any

  get videoId() {
    // @ts-ignore
    return this.video && this.video.vid.length ? this.video.vid : ""
  }
  get player() {
    // @ts-ignore
    return this.$refs.youtube.player
  }
  get vars() {
    return this.playerVars
  }

  ready($e) {
    this.player.seekTo(this.position)
    this.playing ? this.player.playVideo() : this.player.pauseVideo()
    this.player.setVolume(this.volume)
    this.muted ? this.player.mute() : this.player.unMute()
    setInterval(async () => {
      const quality = await this.player.getPlaybackQuality()
      if (this.currentQuality !== quality) {
        this.setCurrentQuality(quality)
      }
      // console.log('quality', quality)
    }, 1000)

    this.$emit("ready", $e)
  }

  @Watch("playing")
  onPlayingChanged(val: boolean) {
    val ? this.player.playVideo() : this.player.pauseVideo()
  }

  @Watch("volume")
  onVolumeChanged(val: number) {
    this.player.setVolume(val)
  }

  @Watch("muted")
  onMutedChanged(val: boolean) {
    val ? this.player.mute() : this.player.unMute()
  }
}

export default ReactiveYoutube
</script>

<style scoped>
iframe {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
</style>
