<template>
  <div class="box">
    <RoomContent />
    <RoomControls />
  </div>
</template>

<script lang="ts">
import RoomContent from "~/components/room/Content.vue"
import RoomControls from "~/components/room/Controls.vue"
import { Component, Vue } from "nuxt-property-decorator"
import { State, namespace } from "vuex-class"
import Api from "~/helpers/Api"

const room = namespace("room")

@Component({ components: { RoomContent, RoomControls }, name: "Room" })
class Room extends Vue {
  roomId: number
  @State auth
  @room.Mutation setCurrentRoom

  validate({ params }) {
    return /^\d+$/.test(params.id)
  }

  async fetch({ store, params }) {
    const { data } = await Api.getVideos(+params.id)
    store.commit("room/setPlaylist", data)
  }

  beforeCreate() {
    this.roomId = +this.$route.params.id
  }

  created() {
    this.setCurrentRoom(this.roomId)
  }
  async mounted() {
    this.$socket.emit("roomConnection", {
      roomId: this.roomId,
      username: this.auth.user.email
    })
    this.$socket.emit("joinChat", {
      roomId: this.roomId,
      username: this.auth.user.email
    })
  }

  beforeDestroy() {
    console.log("beforeDestroy", this.roomId)
    console.log("socket", this.$socket)
    this.$socket.emit("chatDisconnect")
    // this.$socket.emit("roomDisconnection", { roomId: this.roomId });
  }
}
export default Room
</script>

<style>
.box {
  height: 100%;
  overflow: hidden;
}
</style>
