<template>
  <VApp dark class="overflow-y-hidden">
    <VToolbar fixed app>
      <NuxtLink to="/" style="text-decoration: none; color: #fff">
        <VToolbarTitle v-text="title" />
      </NuxtLink>
      <VSpacer />
      <template v-if="auth.user">
        Hi, {{ auth.user.email }}!
      </template>
    </VToolbar>
    <VContent>
      <VContainer
        :class="{
          'pa-0': $route.name === 'room-id',
          'yoba-vh': $route.name === 'room-id'
        }"
        fluid
      >
        <Nuxt />
      </VContainer>
    </VContent>
  </VApp>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import { State, Mutation } from "vuex-class"

@Component({ name: "default" })
class Default extends Vue {
  title: string = "CollabaTube"
  @State auth
  @Mutation("room/setVolume") setVolume
  @Mutation("room/mute") mute

  async mounted() {
    const isBrowser = typeof window !== "undefined"
    isBrowser && localStorage.volume
      ? this.setVolume(localStorage.volume)
      : null
    isBrowser && localStorage.muted ? this.mute() : null
  }
}
export default Default
</script>

<style>
.yoba-vh {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.vb > .vb-dragger {
  z-index: 5;
  width: 12px;
  right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
  -webkit-transition: background-color 100ms ease-out, margin 100ms ease-out,
    height 100ms ease-out;
  transition: background-color 100ms ease-out, margin 100ms ease-out,
    height 100ms ease-out;
  background-color: rgba(48, 121, 244, 0.1);
  margin: 5px 5px 5px 0;
  border-radius: 20px;
  height: calc(100% - 10px);
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(48, 121, 244, 0.3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: rgba(48, 121, 244, 0.5);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(48, 121, 244, 0.5);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(48, 121, 244, 0.5);
}
</style>
