<template>
  <div
    class="container d-flex align-items-center justify-content-center flex-column"
  >
    <img src="~/assets/loading.svg" alt="Loading..." width="80px">
  </div>
</template>

<style scoped>
.container {
  min-height: 70vh;
}
</style>
