<template>
  <VLayout justify-center align-center>
    <VDialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <VBtn
        slot="activator"
        style="bottom: 10px"
        fixed
        dark
        fab
        bottom
        right
        color="pink"
      >
        <VIcon>add</VIcon>
      </VBtn>
      <VCard>
        <VToolbar dark color="primary">
          <VBtn icon dark @click.native="dialog = false">
            <VIcon>close</VIcon>
          </VBtn>
          <VToolbarTitle>New Room</VToolbarTitle>
          <VSpacer />
          <VToolbarItems>
            <VBtn :disabled="!valid" dark flat @click.native="addClick">
              Add
            </VBtn>
          </VToolbarItems>
        </VToolbar>
        <VForm v-model="valid" class="pa-3" @submit.prevent="addClick">
          <VTextField v-model="name" :rules="nameRules" label="Name" required />
        </VForm>
      </VCard>
    </VDialog>
    <VFlex xs12>
      <VList two-line style="border-radius: 5px;">
        <template v-for="(item, index) in rooms">
          <div :key="index">
            <VLayout justify-start row style="display: flex">
              <VListTile>
                <VListTileContent>
                  <VListTileTitle
                    class="text-xs-center"
                    v-html="`${item.users}`"
                  />
                  <VListTileSubTitle class="text-xs-center">
                    Online
                  </VListTileSubTitle>
                </VListTileContent>
              </VListTile>
              <VListTile avatar>
                <NuxtLink
                  :to="{ name: 'room-id', params: { id: item.id } }"
                  style="text-decoration: none; color: #fff"
                >
                  <VListTileAvatar>
                    <img src="https://via.placeholder.com/100">
                  </VListTileAvatar>
                </NuxtLink>
                <VListTileContent>
                  <NuxtLink
                    :to="{ name: 'room-id', params: { id: item.id } }"
                    style="text-decoration: none; color: #fff"
                  >
                    <VListTileTitle v-html="item.name" />
                  </NuxtLink>
                  <VListTileSubTitle v-if="item.currentVideo">
                    {{ item.currentVideo.title }}
                  </VListTileSubTitle>
                  <VListTileSubTitle v-else>
                    ...
                  </VListTileSubTitle>
                </VListTileContent>
              </VListTile>
            </VLayout>
            <VDivider v-if="index !== rooms.length - 1" />
          </div>
        </template>
      </VList>
    </VFlex>
  </VLayout>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import { State, Mutation } from "vuex-class"
import Room from "~/models/Room"
import Api from "~/helpers/Api"

@Component
class Index extends Vue {
  @Mutation addRoom
  @State rooms

  valid: boolean = false
  name: string = ""
  nameRules = [v => !!v || "Name is required"]
  dialog: boolean = false

  mounted() {
    this.$socket.emit("roomUsersCount")
  }

  async fetch({ store }) {
    try {
      const { data } = await Api.getRooms()
      store.commit("setRooms", data)
    } catch (error) {
      console.error(error)
    }
  }

  async addClick() {
    const { data } = await Api.addRoom(this.name)
    this.addRoom(new Room(data.id, data.name))
    this.name = ""
    this.valid = false
    this.dialog = false
  }
}
export default Index
</script>
