<template>
  <VLayout align-center justify-center>
    <VFlex xs12 sm8 md4 lg3>
      <VCard>
        <VToolbar dark color="primary">
          <VToolbarTitle>Authentication</VToolbarTitle>
          <VSpacer />
        </VToolbar>
        <VCardTitle primary-title>
          <VBtn block color="primary darken-1" @click="signInWithGoogle">
            <GoogleIcon mr-2 style="margin-right: 10px;" /><span>
              Sign in with Google
            </span>
          </VBtn>
        </VCardTitle>
      </VCard>
    </VFlex>
  </VLayout>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"
import GoogleIcon from "~/components/GoogleIcon.vue"

@Component({ components: { GoogleIcon } })
class Login extends Vue {
  signInWithGoogle() {
    this.$auth.loginWith("google")
  }
}
export default Login
</script>
